@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    font-family: Poppins, sans-serif;
    background-color: #e4e4eb;
}

.row {
    margin-top: 65px;
}

#row1 {
    margin-top: 26px;
}

#row2 {
  margin-top: 26px;
}

#in {
  margin-left: 68%;
  margin-top: 10px;
}

.join-page-circle-1 {
  position: absolute;
  width: 35vw;
  height: 35vw;
  bottom: 0;
  left: 0;
  z-index: -1;
}
  
.join-page-circle-1::before {
  content: '';
  transform: translateX(-20%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(247, 9, 136, 0.1);
}
  
.join-page-circle-2 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  top: 0;
  left: 20vw;
  z-index: -1;
}
  
.join-page-circle-2::before {
  content: '';
  transform: translateY(-30%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(5, 29, 90, 0.1);
}
  
.btn:hover {
  background-color: #2180d8;
}

.btn:focus {
  background-color: #2796ff;
}

h5 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #202027; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

h5 span { 
    background:#202027;
    padding:0 10px; 
}
